<section data-ng-controller="HomeController">
    <div class="widewrapper main">
        <img src="modules/core/img/brand/banner.png" class="img-responsive" alt="SimpleDBUI">
    </div>
    
    <div>
        <h2>Welcome to the SimpleDBUI App!</h2>
        <p>This app makes use of the <a href="http://meanjs.org">MEAN.JS</a> stack for creating a web application boilerplate.</p>
        <p>This application has login and category management.</p>
        <ul>
            <li>
                Click
                <em>Signin</em>
                to get started.
            </li>

            <li>Now you can edit Categories.</li>
        </ul>
    </div>

</section>
